/* style sheet for website */

/* Base styles begins here------------------- */

body {
    background-color: #0a0a0a;
    color: #ccc; 
    font-family: 'Vollkorn', serif;
}

h1 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 47px; 
    font-weight: 1000;
    color: white;
}

h2 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 47px;
    font-weight: 1000;
    color: white;
    margin-bottom: -5px;
    padding-top: 15px;
}

h3 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: -10px;
}

h4 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: -2px;
}

p {
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    color: #ccc;
    margin-bottom: -10px;
}
.endcode { /* -------------paragraph below p tags style */
    font-size: 12px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #9e9e9e;
    margin-bottom: 10px;
}

a {
    color: #ff3;
    transition: color .2s ease;
    text-decoration: none;
}
a:hover {
    color: grey;
}

/* image styling begins here===================== */
img:hover{
    opacity: 0.5;
    transition: .2s ease;
}

.container img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.photography img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.listening img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}

.avatar {
    /* max-width: 100% !important; */
    width: 50%px !important;
    height: 100% !important;
}
/* image styling ends here======================= */

hr{
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    
}
li {
    display: inline;
    margin-right: 20px;
}

.footer{
    display: flex;
    align-items: flex-end;
    flex: 1 1 0%;
    width: 100%;
    justify-content: flex-end;
}
footer {
    display: flex;
    padding: 10px;
}

/* Base styles ends here--------------------- */

/* styles for avatar starts here--------------------- */

    .header2 {
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        line-height: 1.3;
        padding: 32px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: -2px;
        border-bottom: 1px;

    }
    .avatar {
        text-align: center;
        padding-top: 50px;
        
    }
    .img {
        border-radius: 50%;
        margin-bottom: -20px;
        width: 120px;
        height: 120px;
    }
    .title {
        text-align: center;
        font-size: 47px;
        margin-bottom: -20px;
    }

/* styles for the header begins here */

/* ============================================================ */

/* grid for selected works begins here------------------- */

.container_main {
    margin: 0 auto;
    /* width: 1400px; */
    padding-left: 5%;
    padding-right: 5%;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 10px;
}
.container {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.photography {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;        
}
    .stripes {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .camera {
        grid-column-start: 2;
        grid-column-end:  4;
    }
    .biker {
        grid-column-start: 1;
        grid-column-end: 4;
    }

.listening {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
}
.contact {
    font-size: 20px;
}

/* grid for selected works ends here------------------- */


@media screen and (max-width: 1220px) { /*<----------Responsive design begins here*/
    
    .container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .container img {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }
    .listening {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .contact {
        align-items: center;
        justify-content: center;
    }
} /*<----------Responsive design ends here*/


@media screen and (max-width: 720px) { /*<----------Responsive design begins here*/
    
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .header2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.3;
        padding: 2px;
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

.photography {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;        
}
    .stripes {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .camera {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .biker {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .ballerina {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .warriors {
        grid-column-start: 1;
        grid-column-end:  2;
    }

.listening {
    grid-template-columns: 1fr;
    width: 100%;
}
    .item1 {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .contact{
        font-size: 20px;
        text-align: center;
    }
    .footer{
        font-size: 20px;
        text-align: center;
    }
} /*<----------Responsive design ends here*/

@media screen and (max-width: 468px) { /*<----------Responsive design begins here*/

    .container {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .title {
        text-align: center;
        font-size: 47px;
        margin-bottom: -5px;
    }
    .header2 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.3;
        padding: 2px;
        margin-top: -2px;
        margin-bottom: 2px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .stripes {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .camera {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .biker {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .ballerina {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    .warriors {
        grid-column-start: 1;
        grid-column-end:  2;
    }
    
.listening {
    grid-template-columns: 1fr;
}
    
} /*<----------Responsive design ends here*/